@import "susy";
@import "compass/css3";

$FontAwesomePath: '../components/font-awesome/font';
@import '../components/font-awesome/scss/font-awesome.scss';

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700);

$total-columns: 4;
// a 12-column grid
$column-width: 80px;
// each column is 5.5em wide
$gutter-width: 15px;
// 1em gutters between columns
$grid-padding: 15px;
// grid-padding equal to gutters
$base-font: 'Open Sans', sans-serif;

$black: #111111;
$darkergrey: #171717;
$dark2darkergrey: #333333;
$darkgrey: #252525;
$grey: #444444;
$brightgrey: #d6d6d6;
$lightgrey: #e1e1e1;
$ligthergrey: #eeeeee;
$allmostwhite: #f0f0f0;
$white: #ffffff;
$font-size: .9em;
$konziloGreen: green;

body {
  font-family: $base-font;
  font-size: $font-size;
}

.container {
  // page acts as a container for our grid.
  @include container;
  @include at-breakpoint(6) {
    @include container;
  }
  @include at-breakpoint(8) {
    @include container;
  }
  @include at-breakpoint(12) {
    @include container;
  }
}

header {
  width: 100%;
  background: $white;
  z-index: 1;
  position: relative;
  & > .container {
    padding: 1em 0;
    .branding-left {
      margin-bottom: 5px;
    }
    .navigation {
      &.collapsed {
        display: none;
      }
      .menu {
        & > ul {
          margin: 0;
          padding: 0;
          & > li {
            list-style-type: none;
            list-style-image: none;
            margin: 0;
            padding: 0;
            & > a {
              padding: 15px 10px;
              font-size: 0.9em;
              font-weight: 600;
              color: $black;
              background-color: $lightgrey;
              display: block;
              border-bottom: 1px solid $ligthergrey;
              text-decoration: none;
              &:hover {
                background-color: $grey;
                color: $white;
              }
            }
            & > ul {
              display: block;
              & > li {
                list-style-type: none;
                list-style-image: none;
                margin: 0;
                padding: 0;
                & > a {
                  padding: 15px 30px;
                  font-size: 0.9em;
                  font-weight: 600;
                  color: $black;
                  background-color: $ligthergrey;
                  display: block;
                  border-bottom: 1px solid $ligthergrey;
                  text-decoration: none;
                  &:hover {
                    background-color: $grey;
                    color: $white;
                  }
                }
              }
            }
          }
        }
      }
    }
    .branding-right {
      display: none;
    }
  }
  .sub-navigation {
    display: none;
    padding: 20px 0;
    text-align: center;
    @include background-image(linear-gradient(#f0f0f0, #d6d6d6));
    @include box-shadow($lightgrey 0 0 2px);
    @include box-shadow($lightgrey 0 0 2px);
  }
}

@include at-breakpoint(8) {
  header {
    .sub-navigation {
      display: block;
    }
    button.navigation-toggle {
      display: none;
      margin-bottom: 10px;
    }
    & > .container {
      padding: 1em 0;
      .branding-left {
        @include span-columns(3, 12);
        height: 3.5em;
      }
      .navigation {
        &.collapsed {
          display: block;
        }
        height: 3.5em;
        @include span-columns(5, 12);
        .menu {
          & > ul {
            margin: 0;
            padding: 0;
            & > li {
              float: left;
              display: inline;
              margin: 0 20px 0 0;
              padding: 0;
              &:last-child {
                margin-right: 0;
              }
              & > a {
                font-size: 0.9em;
                font-weight: 600;
                color: $black;
                line-height: 3.5em;
                vertical-align: middle;
                height: 3.5;
                display: block;
              }
              & > ul {
                display: none;
              }
            }
          }
        }
      }
      .branding-right {
        @include span-columns(3 omega, 12);
        text-align: right;
      }
    }
  }
}

button.navigation-toggle {
  display: block;
  float: right;
  font-size: 1.5em;
  padding: 5px 10px;
  background-color: $ligthergrey;
  color: $konziloGreen;
  border: 7px solid $white;
  &:hover {
    background-color: $grey;
    color: $white;
    border: 7px solid $ligthergrey;
  }
}

.main-content {
  background-color: $white;
}

footer {
  &.closure {
    background-color: $darkgrey;
    color: $lightgrey;
    padding: 60px 0;
  }
  &.closure-bottom {
    background-color: $darkergrey;
    color: $grey;
    padding: 30px 0;
    .container {
      span:first-child {
        font-size: 0.8em;
        @include span-columns(9, 12);
      }
      span:last-child {
        font-size: 0.8em;
        @include span-columns(3 omega, 12);
        text-align: right;
      }
    }
  }
}

.twocolumns {
  // sidebar spans 3 columns of total 12.
  .sidebar {
    @include span-columns(3 omega, 12);
  }

  // content spans the final (omega) 9 columns of 12.
  .content {
    @include span-columns(9, 12);
  }
}

